@if (candidates()) {
  <div class="candidate-list">
    <div class="candidates-table">
      <table mat-table [dataSource]="candidates()" class="mat-elevation-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} {{ element.surname | titlecase}}</td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="seniority">
            <th mat-header-cell *matHeaderCellDef> Seniority </th>
            <td mat-cell *matCellDef="let element"> {{element.seniority | titlecase}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="years">
            <th mat-header-cell *matHeaderCellDef> years </th>
            <td mat-cell *matCellDef="let element"> {{element.years}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef> Availability </th>
            <td mat-cell *matCellDef="let element"> {{element.availability | availabilityPipe }} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
  </div>
}
